*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #111111;
  color: white;
}

#heading{
  margin: 59px 15px;
}

#form-section{
  display: flex;
    flex-wrap: wrap;
    margin: 0px 11px;
}

form{
  width: 100%;
}

form input{
  outline: none;
  width: 31%;
  border: 1px solid white;
  height: 35px;
  margin: 6px 5px;
  background-color: #111111;
  color: white;
}

#btn input{
  background-color: #fff;
  color: black;
  border: none;
}


#edit-student-btn{
  cursor: pointer;
  display: none;
}

#add-student-btn{
  cursor: pointer;
}



/* search styling */
#search-bar{
  width: 98%;
  margin: 45px 11px;
}

#search-bar input{
  width: 96%;
    height: 35px;
    background-color: #111111;
    color: white;
    border: 1px solid white;
}









/* table styling */

#student-details {
  /* height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}


table {
  display: block;
  width: 90%;
  height: 225px;
  empty-cells: show ;
  table-layout: fixed;
      border: 0;
      table-layout: fixed;
      /* if styling breks */
      /* border-collapse: separate; */
      border-collapse: collapse;
      border-spacing: 0 0px;
      border: 1px solid white;
      
}

 thead tr th {
  border-bottom: 1px solid white;
    border-collapse: separate;
    border-spacing: 5px 5px;
    border-right: 1px solid white;
    width: 11%;
} 

thead, tbody{
  display: block;
}

thead, tbody tr{
  display: table;
            width: 100%;
            table-layout: fixed;
            
}

tbody tr{
  height: 0%;
}

.table-body-row{
  border-right: 1px solid white;
}

.table-body-btn{
  display: flex;
    justify-content: space-around;
}

#edit-btn {
  width: 8%;
  height: 14px;
  background-image: url(./resources/edit.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#trash-btn {
  width: 6%;
  height: 14px;
    background-image: url(./resources/trash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* #table-body tr{
  height: 2px;
} */

tbody{
  overflow-y: auto;
  height: 204px;
}


/* Hide the scrollbar */
tbody::-webkit-scrollbar {
  width: 0.5em; 
}

tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the background color as needed */
}

tbody::-webkit-scrollbar-thumb {
  background-color: #888; /* Adjust the scrollbar thumb color as needed */
  border-radius: 4px; /* Adjust the border-radius as needed */
}


/* tbody td:empty {
  border-right: 1px solid white;
} */



tbody tr td {
  overflow-y: auto;
  vertical-align: top;
  border-collapse: separate;
  border-right: 1px solid white;
  padding: 9px 6px;
}


/* Media queries */
@media screen and (max-width: 767px) {
  #form-section input{
    width: 100%;
  }

  #student-details table{
    width: 98%;
  }
}
