*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #111111;
  color: white;
}

#heading{
  margin: 59px 15px;
}

#form-section{
  display: flex;
    flex-wrap: wrap;
    margin: 0px 11px;
}

form{
  width: 100%;
}

form input{
  outline: none;
  width: 31%;
  border: 1px solid white;
  height: 35px;
  margin: 6px 5px;
  background-color: #111111;
  color: white;
}

#btn input{
  background-color: #fff;
  color: black;
  border: none;
}



/* search styling */
#search-bar{
  width: 98%;
  margin: 45px 11px;
}

#search-bar input{
  width: 95%;
    height: 35px;
    background-color: #111111;
    color: white;
    border: 1px solid white;
}




#student-details {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-student-btn{
  display: none;
}



/* table styling */

table {
      width: 54%;
      height: 221px;
      border: 0;
      /* if styling breks */
      /* border-collapse: separate; */
      border-collapse: collapse;
      border-spacing: 0 0px;
      border: 1px solid white;
}

thead tr th {
  border-bottom: 1px solid white;
    border-collapse: separate;
    border-spacing: 5px 5px;
    border-right: 1px solid white;
    width: 11%;
}

.table-body-row{
  border-right: 1px solid white;
}

#edit-btn {
    width: 31%;
    height: 15px;
    background-image: url(./resources/edit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
#trash-btn {
    width: 31%;
    height: 15px;
    background-image: url(./resources/trash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}



tbody tr td {
  vertical-align: top;
  border-collapse: separate;
  border-right: 1px solid white;
}
